<h1>My journalists</h1>


<% @journalists.each do |journalist| %>
  <div>
    <div><%= journalist.first_name + " " + journalist.last_name%></div>
    <div>
      <%= link_to 'Show', journalist %> | <%= link_to 'Edit', edit_journalist_path(journalist) %> | <%= link_to 'Destroy', journalist, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Journalist', new_journalist_path %>
