<% @stories.each do |story| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%=story.headline%>
      </h3>
    </div>
    <div class="panel-body">
      <p><%= story.summary %></p>
      <p>
        <%= story.journalist.first_name%> <%=story.journalist.last_name%> | <%=story.publisher.name%> | <%= story.date_published %></p>
    </div>
  </div>
<% end %>
