<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @story.headline %>
</p>

<p>
  <b>Summary:</b>
  <%= @story.summary %>
</p>

<p>
  <b>Date published:</b>
  <%= @story.published_at %>
</p>

<p>
  <b>Journalist:</b>
  <%= @story.journalist_id %>
</p>

<%= render "comments/comments" %>
<%= render partial: "comments/form", locals: { resource: @story }%>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
