<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @journalist.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @journalist.last_name %>
</p>

<p>
  <b>Title:</b>
  <%= @journalist.title %>
</p>

<p>
  <b>Stories:</b>
  <% grab_data_for_journalist(@journalist).each do |instance| %>

    <% if instance.class == Comment%>
      <div>
        <div><%= instance.content %></div>
        <div><%= instance.created_at %></div>
      </div>
    <% else %>
      <div>
        <div><a href="<%= instance.link%>"><%= instance.headline %></a></div>
        <div><%= instance.summary %></div>
        <div><%= instance.published_at %></div>
        <div> 
          <%= render partial: "comments/form", locals: { resource: instance} %>
          <% instance.comments.order("created_at DESC").each do |story_comment| %>
            <%= story_comment.content %>
            <%= "-" * 100 %>
          <% end %>
        
        </div>
      </div>
    <% end %>
    

  <% end %>
</p>


<a class="twitter-timeline" href="https://twitter.com/annahodgekiss" data-widget-id="541241697662144512" data-screen-name="<%=@journalist.twitter%>">Tweets by @<%=@journalist.twitter%></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<%= link_to 'Edit', edit_journalist_path(@journalist) %> |
<%= link_to 'Back', journalists_path %>
