<!DOCTYPE html>
<html>
<head>
  <title>JrmApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <header class="page-header">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <%= image_tag "jrm-logo.png", height: '50', width: '100' %>
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'My Journalists', journalists_path%>
            </li>
            <li>
              <%= link_to 'My Media Lists', media_lists_path%>
            </li>
            <li>
              <%= link_to 'Stories', stories_path%>
            </li>
          </ul>
        </div>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <div id="login">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><p>Logged in as</p></li>
          <li>
            <% if current_user.image? %>
              <%= image_tag current_user.image, class: "small-avatar" %>
            <% end %>
          </li>
          <li>
            <% if current_user.name? %>
              <%= current_user.name %>
            <% end %>
          </li>
          <li>
            <% if current_user.email? %>
              <%= current_user.email %>
            <% end %>
          </li>
          <li>
            <%= link_to "Edit profile", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
        <% end %>
        </ul>
      </div>
      </nav>
      
    </header>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
  </div>
</body>
</html>
